data/*
!data/0_isomiR-SEA_isomiRs
!data/0_genomic_data

test/s.jap/s.jap.fa
test/s.jap/s.jap.fa.fai
test/s.jap/s.jap.xlsx
test/s.jap/UTR.fa

test/mmu/mmu.fa
test/mmu/mmu.fa.fai
test/mmu/mmu.gff3

output

input

.DS_Store